# PyCharm project folder
.idea

# local python environment
venv

# unused dataset files
datasets/*

# pycache folders
__pycache__

# ignored folders
logs
latex
models/config
models/pngs
models/csvs
models/results
models/DANTE/models
models/WavenetNRI/data
models/WavenetNRI/config
models/WavenetNRI/baselines
scripts

# ignored files
notes.txt
M95-1005.pdf
HungKrose_ICMI2011.pdf
Recognizing_F-Formations_in_the_Open_World.pdf